branches/TP3/Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsListaPrecio/wsListaPrecio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ListaPrecioWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsListaPrecio/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsListaPrecio/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IListaPrecioWS_wsObtenerNombreWS_InputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWS" />
  </wsdl:message>
  <wsdl:message name="IListaPrecioWS_wsObtenerNombreWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWSResponse" />
  </wsdl:message>
  <wsdl:message name="IListaPrecioWS_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IListaPrecioWS_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IListaPrecioWS_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IListaPrecioWS_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IListaPrecioWS_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IListaPrecioWS_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:portType name="IListaPrecioWS">
    <wsdl:operation name="wsObtenerNombreWS">
      <wsdl:input wsaw:Action="http://tempuri.org/IListaPrecioWS/wsObtenerNombreWS" message="tns:IListaPrecioWS_wsObtenerNombreWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListaPrecioWS/wsObtenerNombreWSResponse" message="tns:IListaPrecioWS_wsObtenerNombreWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IListaPrecioWS/Obtener" message="tns:IListaPrecioWS_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListaPrecioWS/ObtenerResponse" message="tns:IListaPrecioWS_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IListaPrecioWS/Listar" message="tns:IListaPrecioWS_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListaPrecioWS/ListarResponse" message="tns:IListaPrecioWS_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IListaPrecioWS/Buscar" message="tns:IListaPrecioWS_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListaPrecioWS/BuscarResponse" message="tns:IListaPrecioWS_Buscar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IListaPrecioWS" type="tns:IListaPrecioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsObtenerNombreWS">
      <soap:operation soapAction="http://tempuri.org/IListaPrecioWS/wsObtenerNombreWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IListaPrecioWS/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IListaPrecioWS/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IListaPrecioWS/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListaPrecioWS">
    <wsdl:port name="BasicHttpBinding_IListaPrecioWS" binding="tns:BasicHttpBinding_IListaPrecioWS">
      <soap:address location="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsListaPrecio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>