branches/TP3/Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsInformeAccidente/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InformeAccidente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoEntity" nillable="true" type="tns:Estado" />
      <xs:element minOccurs="0" name="FechaInforme" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MS_Informe_Accidente_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Siniestro_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Tecnico_Taller_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumInforme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Siniestro" nillable="true" type="tns:MSSiniestro" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeAccidente" nillable="true" type="tns:InformeAccidente" />
  <xs:complexType name="Estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="MSSiniestro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAtencion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSiniestro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lugar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_Poliza_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Procurador_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Siniestro_Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumSiniestro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poliza" nillable="true" type="tns:MPPoliza" />
      <xs:element minOccurs="0" name="Procurador" nillable="true" type="tns:MSProcurador" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MSSiniestro" nillable="true" type="tns:MSSiniestro" />
  <xs:complexType name="MPPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asegurado" nillable="true" type="tns:MPAsegurado" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MP_Asegurado_ID" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Poliza_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Vehiculo_ID" type="xs:int" />
      <xs:element minOccurs="0" name="MontoCobertura" type="xs:float" />
      <xs:element minOccurs="0" name="NumPoliza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:MPVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MPPoliza" nillable="true" type="tns:MPPoliza" />
  <xs:complexType name="MPAsegurado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DniAsegurado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MP_Asegurado_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MPAsegurado" nillable="true" type="tns:MPAsegurado" />
  <xs:complexType name="MPVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chasis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_Marca_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Modelo_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Vehiculo_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:MPMarca" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:MPModelo" />
      <xs:element minOccurs="0" name="Motor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MPVehiculo" nillable="true" type="tns:MPVehiculo" />
  <xs:complexType name="MPMarca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_Marca_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MPMarca" nillable="true" type="tns:MPMarca" />
  <xs:complexType name="MPModelo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_Modelo_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MPModelo" nillable="true" type="tns:MPModelo" />
  <xs:complexType name="MSProcurador">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MS_Procurador_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumProcurador" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MSProcurador" nillable="true" type="tns:MSProcurador" />
</xs:schema>