Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsInformeAccidente/wsInformeAccidente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InformeAccidenteWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsInformceAccidente/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsInformceAccidente/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsInformceAccidente/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInformeAccidenteWS_ObtenerNombreWS_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNombreWS" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_ObtenerNombreWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNombreWSResponse" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="IInformeAccidenteWS_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:portType name="IInformeAccidenteWS">
    <wsdl:operation name="ObtenerNombreWS">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformeAccidenteWS/ObtenerNombreWS" message="tns:IInformeAccidenteWS_ObtenerNombreWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformeAccidenteWS/ObtenerNombreWSResponse" message="tns:IInformeAccidenteWS_ObtenerNombreWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformeAccidenteWS/Obtener" message="tns:IInformeAccidenteWS_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformeAccidenteWS/ObtenerResponse" message="tns:IInformeAccidenteWS_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformeAccidenteWS/Listar" message="tns:IInformeAccidenteWS_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformeAccidenteWS/ListarResponse" message="tns:IInformeAccidenteWS_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformeAccidenteWS/Buscar" message="tns:IInformeAccidenteWS_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformeAccidenteWS/BuscarResponse" message="tns:IInformeAccidenteWS_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformeAccidenteWS/Agregar" message="tns:IInformeAccidenteWS_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformeAccidenteWS/AgregarResponse" message="tns:IInformeAccidenteWS_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformeAccidenteWS/Modificar" message="tns:IInformeAccidenteWS_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformeAccidenteWS/ModificarResponse" message="tns:IInformeAccidenteWS_Modificar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInformeAccidenteWS" type="tns:IInformeAccidenteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerNombreWS">
      <soap:operation soapAction="http://tempuri.org/IInformeAccidenteWS/ObtenerNombreWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IInformeAccidenteWS/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IInformeAccidenteWS/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IInformeAccidenteWS/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IInformeAccidenteWS/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/IInformeAccidenteWS/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformeAccidenteWS">
    <wsdl:port name="BasicHttpBinding_IInformeAccidenteWS" binding="tns:BasicHttpBinding_IInformeAccidenteWS">
      <soap:address location="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsInformceAccidente/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>