trunk/Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsUtil/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" />
  <xs:element name="wsObtenerNombreWS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="wsObtenerNombreWSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wsObtenerNombreWSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPoliza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" minOccurs="0" name="pEnPoliza" nillable="true" type="q1:enPoliza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPolizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" minOccurs="0" name="ListarPolizaResult" nillable="true" type="q2:ArrayOfenPoliza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProcurador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" minOccurs="0" name="pEnProcurador" nillable="true" type="q3:enProcurador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProcuradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" minOccurs="0" name="ListarProcuradorResult" nillable="true" type="q4:ArrayOfenProcurador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>