branches/TP3/Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsTecnico/Pacifico.SINCO.EN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TecnicoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumTecnico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taller" nillable="true" type="tns:TallerEN" />
      <xs:element minOccurs="0" name="TallerId" type="xs:int" />
      <xs:element minOccurs="0" name="TecnicoId" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TecnicoEN" nillable="true" type="tns:TecnicoEN" />
  <xs:complexType name="TallerEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TallerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TallerEN" nillable="true" type="tns:TallerEN" />
</xs:schema>