Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsLiquidacion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LiquidacionWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiquidacionWS_ObtenerNombreWS_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNombreWS" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_ObtenerNombreWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNombreWSResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_RegistrarGenerado_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarGenerado" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_RegistrarGenerado_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarGeneradoResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_RegistrarRechazo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarRechazo" />
  </wsdl:message>
  <wsdl:message name="ILiquidacionWS_RegistrarRechazo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarRechazoResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiquidacionWS">
    <wsdl:operation name="ObtenerNombreWS">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidacionWS/ObtenerNombreWS" message="tns:ILiquidacionWS_ObtenerNombreWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidacionWS/ObtenerNombreWSResponse" message="tns:ILiquidacionWS_ObtenerNombreWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidacionWS/Obtener" message="tns:ILiquidacionWS_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidacionWS/ObtenerResponse" message="tns:ILiquidacionWS_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidacionWS/Listar" message="tns:ILiquidacionWS_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidacionWS/ListarResponse" message="tns:ILiquidacionWS_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidacionWS/Buscar" message="tns:ILiquidacionWS_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidacionWS/BuscarResponse" message="tns:ILiquidacionWS_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidacionWS/Agregar" message="tns:ILiquidacionWS_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidacionWS/AgregarResponse" message="tns:ILiquidacionWS_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidacionWS/Modificar" message="tns:ILiquidacionWS_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidacionWS/ModificarResponse" message="tns:ILiquidacionWS_Modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarGenerado">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidacionWS/RegistrarGenerado" message="tns:ILiquidacionWS_RegistrarGenerado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidacionWS/RegistrarGeneradoResponse" message="tns:ILiquidacionWS_RegistrarGenerado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarRechazo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquidacionWS/RegistrarRechazo" message="tns:ILiquidacionWS_RegistrarRechazo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquidacionWS/RegistrarRechazoResponse" message="tns:ILiquidacionWS_RegistrarRechazo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILiquidacionWS" type="tns:ILiquidacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerNombreWS">
      <soap:operation soapAction="http://tempuri.org/ILiquidacionWS/ObtenerNombreWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/ILiquidacionWS/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/ILiquidacionWS/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/ILiquidacionWS/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/ILiquidacionWS/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/ILiquidacionWS/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarGenerado">
      <soap:operation soapAction="http://tempuri.org/ILiquidacionWS/RegistrarGenerado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarRechazo">
      <soap:operation soapAction="http://tempuri.org/ILiquidacionWS/RegistrarRechazo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiquidacionWS">
    <wsdl:port name="BasicHttpBinding_ILiquidacionWS" binding="tns:BasicHttpBinding_ILiquidacionWS">
      <soap:address location="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsLiquidacion/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>