Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsLiquidacion/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" />
  <xs:element name="ObtenerNombreWS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombreWSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNombreWSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numLiquidacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoSiniestro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaLiquidacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" minOccurs="0" name="model" nillable="true" type="q1:LiquidacionEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" minOccurs="0" name="model" nillable="true" type="q2:LiquidacionEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarGenerado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarGeneradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarGeneradoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarRechazo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarRechazoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarRechazoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>