Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsSiniestro/Pacifico.SINCO.EN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="enSiniestro">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" type="xs:int" />
          <xs:element minOccurs="0" name="FechaAtencion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaSiniestro" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Lugar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MP_Poliza_Id" type="xs:int" />
          <xs:element minOccurs="0" name="MS_Procurador_Id" type="xs:int" />
          <xs:element minOccurs="0" name="MS_Siniestro_Id" type="xs:int" />
          <xs:element minOccurs="0" name="NumSiniestro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="enSiniestro" nillable="true" type="tns:enSiniestro" />
  <xs:complexType name="enBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vFechaModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vFechaRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enBase" nillable="true" type="tns:enBase" />
  <xs:complexType name="ArrayOfenSiniestro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enSiniestro" nillable="true" type="tns:enSiniestro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenSiniestro" nillable="true" type="tns:ArrayOfenSiniestro" />
</xs:schema>