Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsPresupuesto/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PresupuestoWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPresupuestoWS_wsObtenerNombreWS_InputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWS" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_wsObtenerNombreWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWSResponse" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_ObtenerPresupuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPresupuesto" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_ObtenerPresupuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPresupuestoResponse" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_ListarPresupuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPresupuesto" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_ListarPresupuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPresupuestoResponse" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_BuscarPresupuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPresupuesto" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_BuscarPresupuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPresupuestoResponse" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_AgregarPresupuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPresupuesto" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_AgregarPresupuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPresupuestoResponse" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_ModificarPresupuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPresupuesto" />
  </wsdl:message>
  <wsdl:message name="IPresupuestoWS_ModificarPresupuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarPresupuestoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPresupuestoWS">
    <wsdl:operation name="wsObtenerNombreWS">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresupuestoWS/wsObtenerNombreWS" message="tns:IPresupuestoWS_wsObtenerNombreWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresupuestoWS/wsObtenerNombreWSResponse" message="tns:IPresupuestoWS_wsObtenerNombreWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPresupuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresupuestoWS/ObtenerPresupuesto" message="tns:IPresupuestoWS_ObtenerPresupuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresupuestoWS/ObtenerPresupuestoResponse" message="tns:IPresupuestoWS_ObtenerPresupuesto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPresupuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresupuestoWS/ListarPresupuesto" message="tns:IPresupuestoWS_ListarPresupuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresupuestoWS/ListarPresupuestoResponse" message="tns:IPresupuestoWS_ListarPresupuesto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPresupuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresupuestoWS/BuscarPresupuesto" message="tns:IPresupuestoWS_BuscarPresupuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresupuestoWS/BuscarPresupuestoResponse" message="tns:IPresupuestoWS_BuscarPresupuesto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarPresupuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresupuestoWS/AgregarPresupuesto" message="tns:IPresupuestoWS_AgregarPresupuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresupuestoWS/AgregarPresupuestoResponse" message="tns:IPresupuestoWS_AgregarPresupuesto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPresupuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresupuestoWS/ModificarPresupuesto" message="tns:IPresupuestoWS_ModificarPresupuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresupuestoWS/ModificarPresupuestoResponse" message="tns:IPresupuestoWS_ModificarPresupuesto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPresupuestoWS" type="tns:IPresupuestoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsObtenerNombreWS">
      <soap:operation soapAction="http://tempuri.org/IPresupuestoWS/wsObtenerNombreWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPresupuesto">
      <soap:operation soapAction="http://tempuri.org/IPresupuestoWS/ObtenerPresupuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPresupuesto">
      <soap:operation soapAction="http://tempuri.org/IPresupuestoWS/ListarPresupuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPresupuesto">
      <soap:operation soapAction="http://tempuri.org/IPresupuestoWS/BuscarPresupuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPresupuesto">
      <soap:operation soapAction="http://tempuri.org/IPresupuestoWS/AgregarPresupuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPresupuesto">
      <soap:operation soapAction="http://tempuri.org/IPresupuestoWS/ModificarPresupuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PresupuestoWS">
    <wsdl:port name="BasicHttpBinding_IPresupuestoWS" binding="tns:BasicHttpBinding_IPresupuestoWS">
      <soap:address location="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsPresupuesto/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>