branches/TP3/Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsSiniestro/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SiniestroWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISiniestroWS_wsObtenerNombreWS_InputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWS" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_wsObtenerNombreWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWSResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Ingresar_InputMessage">
    <wsdl:part name="parameters" element="tns:Ingresar" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Ingresar_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_RegistrarProceso_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarProceso" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_RegistrarProceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarProcesoResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_RegistrarPendiente_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarPendiente" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_RegistrarPendiente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarPendienteResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Aperturar_InputMessage">
    <wsdl:part name="parameters" element="tns:Aperturar" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_Aperturar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AperturarResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_RegistrarAsistido_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAsistido" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_RegistrarAsistido_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAsistidoResponse" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_RegistrarAprobado_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAprobado" />
  </wsdl:message>
  <wsdl:message name="ISiniestroWS_RegistrarAprobado_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAprobadoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISiniestroWS">
    <wsdl:operation name="wsObtenerNombreWS">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/wsObtenerNombreWS" message="tns:ISiniestroWS_wsObtenerNombreWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/wsObtenerNombreWSResponse" message="tns:ISiniestroWS_wsObtenerNombreWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/Listar" message="tns:ISiniestroWS_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/ListarResponse" message="tns:ISiniestroWS_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/Buscar" message="tns:ISiniestroWS_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/BuscarResponse" message="tns:ISiniestroWS_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/Obtener" message="tns:ISiniestroWS_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/ObtenerResponse" message="tns:ISiniestroWS_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ingresar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/Ingresar" message="tns:ISiniestroWS_Ingresar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/IngresarResponse" message="tns:ISiniestroWS_Ingresar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/Actualizar" message="tns:ISiniestroWS_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/ActualizarResponse" message="tns:ISiniestroWS_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarProceso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/RegistrarProceso" message="tns:ISiniestroWS_RegistrarProceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/RegistrarProcesoResponse" message="tns:ISiniestroWS_RegistrarProceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarPendiente">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/RegistrarPendiente" message="tns:ISiniestroWS_RegistrarPendiente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/RegistrarPendienteResponse" message="tns:ISiniestroWS_RegistrarPendiente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/Consultar" message="tns:ISiniestroWS_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/ConsultarResponse" message="tns:ISiniestroWS_Consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Aperturar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/Aperturar" message="tns:ISiniestroWS_Aperturar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/AperturarResponse" message="tns:ISiniestroWS_Aperturar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarAsistido">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/RegistrarAsistido" message="tns:ISiniestroWS_RegistrarAsistido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/RegistrarAsistidoResponse" message="tns:ISiniestroWS_RegistrarAsistido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarAprobado">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiniestroWS/RegistrarAprobado" message="tns:ISiniestroWS_RegistrarAprobado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiniestroWS/RegistrarAprobadoResponse" message="tns:ISiniestroWS_RegistrarAprobado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISiniestroWS" type="tns:ISiniestroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsObtenerNombreWS">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/wsObtenerNombreWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ingresar">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/Ingresar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarProceso">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/RegistrarProceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPendiente">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/RegistrarPendiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aperturar">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/Aperturar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarAsistido">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/RegistrarAsistido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarAprobado">
      <soap:operation soapAction="http://tempuri.org/ISiniestroWS/RegistrarAprobado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiniestroWS">
    <wsdl:port name="BasicHttpBinding_ISiniestroWS" binding="tns:BasicHttpBinding_ISiniestroWS">
      <soap:address location="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsSiniestro/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>