branches/TP3/Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsSiniestro/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsSiniestro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwsSiniestro_wsObtenerNombreWS_InputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWS" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_wsObtenerNombreWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWSResponse" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_ListarSiniestro_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSiniestro" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_ListarSiniestro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSiniestroResponse" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_ObtenerSiniestro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSiniestro" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_ObtenerSiniestro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSiniestroResponse" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_IngresarSiniestro_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarSiniestro" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_IngresarSiniestro_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarSiniestroResponse" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_ActualizaSiniestro_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaSiniestro" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_ActualizaSiniestro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaSiniestroResponse" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_ProcesarSiniestro_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarSiniestro" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_ProcesarSiniestro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarSiniestroResponse" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_RegistrarSiniestroPendiente_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSiniestroPendiente" />
  </wsdl:message>
  <wsdl:message name="IwsSiniestro_RegistrarSiniestroPendiente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSiniestroPendienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IwsSiniestro">
    <wsdl:operation name="wsObtenerNombreWS">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSiniestro/wsObtenerNombreWS" message="tns:IwsSiniestro_wsObtenerNombreWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSiniestro/wsObtenerNombreWSResponse" message="tns:IwsSiniestro_wsObtenerNombreWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSiniestro">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSiniestro/ListarSiniestro" message="tns:IwsSiniestro_ListarSiniestro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSiniestro/ListarSiniestroResponse" message="tns:IwsSiniestro_ListarSiniestro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSiniestro">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSiniestro/ObtenerSiniestro" message="tns:IwsSiniestro_ObtenerSiniestro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSiniestro/ObtenerSiniestroResponse" message="tns:IwsSiniestro_ObtenerSiniestro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarSiniestro">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSiniestro/IngresarSiniestro" message="tns:IwsSiniestro_IngresarSiniestro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSiniestro/IngresarSiniestroResponse" message="tns:IwsSiniestro_IngresarSiniestro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaSiniestro">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSiniestro/ActualizaSiniestro" message="tns:IwsSiniestro_ActualizaSiniestro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSiniestro/ActualizaSiniestroResponse" message="tns:IwsSiniestro_ActualizaSiniestro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarSiniestro">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSiniestro/ProcesarSiniestro" message="tns:IwsSiniestro_ProcesarSiniestro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSiniestro/ProcesarSiniestroResponse" message="tns:IwsSiniestro_ProcesarSiniestro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarSiniestroPendiente">
      <wsdl:input wsaw:Action="http://tempuri.org/IwsSiniestro/RegistrarSiniestroPendiente" message="tns:IwsSiniestro_RegistrarSiniestroPendiente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwsSiniestro/RegistrarSiniestroPendienteResponse" message="tns:IwsSiniestro_RegistrarSiniestroPendiente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwsSiniestro" type="tns:IwsSiniestro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsObtenerNombreWS">
      <soap:operation soapAction="http://tempuri.org/IwsSiniestro/wsObtenerNombreWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSiniestro">
      <soap:operation soapAction="http://tempuri.org/IwsSiniestro/ListarSiniestro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSiniestro">
      <soap:operation soapAction="http://tempuri.org/IwsSiniestro/ObtenerSiniestro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarSiniestro">
      <soap:operation soapAction="http://tempuri.org/IwsSiniestro/IngresarSiniestro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaSiniestro">
      <soap:operation soapAction="http://tempuri.org/IwsSiniestro/ActualizaSiniestro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarSiniestro">
      <soap:operation soapAction="http://tempuri.org/IwsSiniestro/ProcesarSiniestro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSiniestroPendiente">
      <soap:operation soapAction="http://tempuri.org/IwsSiniestro/RegistrarSiniestroPendiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsSiniestro">
    <wsdl:port name="BasicHttpBinding_IwsSiniestro" binding="tns:BasicHttpBinding_IwsSiniestro">
      <soap:address location="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsSiniestro/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>