branches/TP3/Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsPresupuesto/Pacifico.SINCO.EN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PresupuestoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetallePresupuesto" nillable="true" type="tns:ArrayOfDetallePresupuestoEN" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoEntity" nillable="true" type="tns:EstadoEN" />
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPresupuesto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IGV" type="xs:float" />
      <xs:element minOccurs="0" name="InformeAccidente" nillable="true" type="tns:InformeAccidenteEN" />
      <xs:element minOccurs="0" name="MS_Informe_Accidente_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Presupuesto_Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumPresupuesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacionRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:float" />
      <xs:element minOccurs="0" name="Total" type="xs:float" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresupuestoEN" nillable="true" type="tns:PresupuestoEN" />
  <xs:complexType name="ArrayOfDetallePresupuestoEN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetallePresupuestoEN" nillable="true" type="tns:DetallePresupuestoEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetallePresupuestoEN" nillable="true" type="tns:ArrayOfDetallePresupuestoEN" />
  <xs:complexType name="DetallePresupuestoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descuento" type="xs:float" />
      <xs:element minOccurs="0" name="Importe" type="xs:float" />
      <xs:element minOccurs="0" name="ListaPrecio" nillable="true" type="tns:ListaPrecioEN" />
      <xs:element minOccurs="0" name="MS_Detalle_Presupuesto_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Lista_Precio_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Presupuesto_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetallePresupuestoEN" nillable="true" type="tns:DetallePresupuestoEN" />
  <xs:complexType name="ListaPrecioEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MP_Marca_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Modelo_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Lista_Precio_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Servicio_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:MarcaEN" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:ModeloEN" />
      <xs:element minOccurs="0" name="Precio" type="xs:float" />
      <xs:element minOccurs="0" name="Servicio" nillable="true" type="tns:ServicioEN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaPrecioEN" nillable="true" type="tns:ListaPrecioEN" />
  <xs:complexType name="MarcaEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_Marca_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarcaEN" nillable="true" type="tns:MarcaEN" />
  <xs:complexType name="ModeloEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_Modelo_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloEN" nillable="true" type="tns:ModeloEN" />
  <xs:complexType name="ServicioEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MS_Servicio_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioEN" nillable="true" type="tns:ServicioEN" />
  <xs:complexType name="EstadoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoEN" nillable="true" type="tns:EstadoEN" />
  <xs:complexType name="InformeAccidenteEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoEntity" nillable="true" type="tns:EstadoEN" />
      <xs:element minOccurs="0" name="FechaInforme" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MS_Informe_Accidente_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Siniestro_Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumInforme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Siniestro" nillable="true" type="tns:SiniestroEN" />
      <xs:element minOccurs="0" name="Tecnico" nillable="true" type="tns:TecnicoEN" />
      <xs:element minOccurs="0" name="TecnicoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformeAccidenteEN" nillable="true" type="tns:InformeAccidenteEN" />
  <xs:complexType name="SiniestroEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoEntity" nillable="true" type="tns:EstadoEN" />
      <xs:element minOccurs="0" name="FechaAtencion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSiniestro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lugar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_Poliza_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Procurador_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MS_Siniestro_Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumSiniestro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poliza" nillable="true" type="tns:PolizaEN" />
      <xs:element minOccurs="0" name="Procurador" nillable="true" type="tns:ProcuradorEN" />
      <xs:element minOccurs="0" name="TecnicoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiniestroEN" nillable="true" type="tns:SiniestroEN" />
  <xs:complexType name="PolizaEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asegurado" nillable="true" type="tns:AseguradoEN" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MP_Asegurado_ID" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Poliza_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Vehiculo_ID" type="xs:int" />
      <xs:element minOccurs="0" name="MontoCobertura" type="xs:float" />
      <xs:element minOccurs="0" name="NumPoliza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehiculo" nillable="true" type="tns:VehiculoEN" />
      <xs:element minOccurs="0" name="Vigente" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolizaEN" nillable="true" type="tns:PolizaEN" />
  <xs:complexType name="AseguradoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DniAsegurado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MP_Asegurado_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AseguradoEN" nillable="true" type="tns:AseguradoEN" />
  <xs:complexType name="VehiculoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chasis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MP_Marca_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Modelo_Id" type="xs:int" />
      <xs:element minOccurs="0" name="MP_Vehiculo_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:MarcaEN" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="tns:ModeloEN" />
      <xs:element minOccurs="0" name="Motor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiculoEN" nillable="true" type="tns:VehiculoEN" />
  <xs:complexType name="ProcuradorEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="MS_Procurador_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumProcurador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcuradorEN" nillable="true" type="tns:ProcuradorEN" />
  <xs:complexType name="TecnicoEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumTecnico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Taller" nillable="true" type="tns:TallerEN" />
      <xs:element minOccurs="0" name="TallerId" type="xs:int" />
      <xs:element minOccurs="0" name="TecnicoId" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TecnicoEN" nillable="true" type="tns:TecnicoEN" />
  <xs:complexType name="TallerEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TallerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TallerEN" nillable="true" type="tns:TallerEN" />
</xs:schema>