Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsUtil/Pacifico.SINCO.EN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="enPoliza">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DniAsegurado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MP_Asegurado_ID" type="xs:int" />
          <xs:element minOccurs="0" name="MP_Poliza_Id" type="xs:int" />
          <xs:element minOccurs="0" name="MP_Vehiculo_ID" type="xs:int" />
          <xs:element minOccurs="0" name="MontoCobertura" type="xs:float" />
          <xs:element minOccurs="0" name="NombreAsegurado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumPoliza" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Vigente" type="xs:boolean" />
          <xs:element minOccurs="0" name="vFechaFin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFechaInicio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vMarca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vModelo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="enPoliza" nillable="true" type="tns:enPoliza" />
  <xs:complexType name="enBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vFechaModifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vFechaRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enBase" nillable="true" type="tns:enBase" />
  <xs:complexType name="ArrayOfenPoliza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enPoliza" nillable="true" type="tns:enPoliza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenPoliza" nillable="true" type="tns:ArrayOfenPoliza" />
  <xs:complexType name="enProcurador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Disponible" type="xs:boolean" />
          <xs:element minOccurs="0" name="MS_Procurador_Id" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumProcurador" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="enProcurador" nillable="true" type="tns:enProcurador" />
  <xs:complexType name="ArrayOfenProcurador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="enProcurador" nillable="true" type="tns:enProcurador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfenProcurador" nillable="true" type="tns:ArrayOfenProcurador" />
</xs:schema>