Pacifico.SINCO/Pacifico.SINCO.WEB/Service References/wsUtil/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UtilWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Pacifico.SINCO.EN" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUtilWS_wsObtenerNombreWS_InputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWS" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_wsObtenerNombreWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:wsObtenerNombreWSResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_ListarPoliza_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPoliza" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_ListarPoliza_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPolizaResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_BuscarPoliza_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPoliza" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_BuscarPoliza_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPolizaResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_ListarProcurador_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProcurador" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_ListarProcurador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProcuradorResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_BuscarProcurador_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProcurador" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_BuscarProcurador_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProcuradorResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_ActualizaDisponibilidadProcurador_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaDisponibilidadProcurador" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_ActualizaDisponibilidadProcurador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaDisponibilidadProcuradorResponse" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_ObtenerProcurador_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProcurador" />
  </wsdl:message>
  <wsdl:message name="IUtilWS_ObtenerProcurador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProcuradorResponse" />
  </wsdl:message>
  <wsdl:portType name="IUtilWS">
    <wsdl:operation name="wsObtenerNombreWS">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtilWS/wsObtenerNombreWS" message="tns:IUtilWS_wsObtenerNombreWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtilWS/wsObtenerNombreWSResponse" message="tns:IUtilWS_wsObtenerNombreWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPoliza">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtilWS/ListarPoliza" message="tns:IUtilWS_ListarPoliza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtilWS/ListarPolizaResponse" message="tns:IUtilWS_ListarPoliza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPoliza">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtilWS/BuscarPoliza" message="tns:IUtilWS_BuscarPoliza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtilWS/BuscarPolizaResponse" message="tns:IUtilWS_BuscarPoliza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProcurador">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtilWS/ListarProcurador" message="tns:IUtilWS_ListarProcurador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtilWS/ListarProcuradorResponse" message="tns:IUtilWS_ListarProcurador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProcurador">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtilWS/BuscarProcurador" message="tns:IUtilWS_BuscarProcurador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtilWS/BuscarProcuradorResponse" message="tns:IUtilWS_BuscarProcurador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaDisponibilidadProcurador">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtilWS/ActualizaDisponibilidadProcurador" message="tns:IUtilWS_ActualizaDisponibilidadProcurador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtilWS/ActualizaDisponibilidadProcuradorResponse" message="tns:IUtilWS_ActualizaDisponibilidadProcurador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProcurador">
      <wsdl:input wsaw:Action="http://tempuri.org/IUtilWS/ObtenerProcurador" message="tns:IUtilWS_ObtenerProcurador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUtilWS/ObtenerProcuradorResponse" message="tns:IUtilWS_ObtenerProcurador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUtilWS" type="tns:IUtilWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsObtenerNombreWS">
      <soap:operation soapAction="http://tempuri.org/IUtilWS/wsObtenerNombreWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPoliza">
      <soap:operation soapAction="http://tempuri.org/IUtilWS/ListarPoliza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPoliza">
      <soap:operation soapAction="http://tempuri.org/IUtilWS/BuscarPoliza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProcurador">
      <soap:operation soapAction="http://tempuri.org/IUtilWS/ListarProcurador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProcurador">
      <soap:operation soapAction="http://tempuri.org/IUtilWS/BuscarProcurador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaDisponibilidadProcurador">
      <soap:operation soapAction="http://tempuri.org/IUtilWS/ActualizaDisponibilidadProcurador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProcurador">
      <soap:operation soapAction="http://tempuri.org/IUtilWS/ObtenerProcurador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtilWS">
    <wsdl:port name="BasicHttpBinding_IUtilWS" binding="tns:BasicHttpBinding_IUtilWS">
      <soap:address location="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsUtil/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>